<!DOCTYPE html>
<html>
<head>
    <title>Add Student</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="main-card">
        <h2>Add Student</h2>
        <form method="post">
            <div style="margin-bottom: 18px;">
                <input type="text" name="name" placeholder="Name" required style="width: 90%; padding: 10px; border-radius: 8px; border: 1px solid #ddd; margin-bottom: 12px;">
                <input type="number" name="age" placeholder="Age" required style="width: 90%; padding: 10px; border-radius: 8px; border: 1px solid #ddd; margin-bottom: 12px;">
                <select type="text" name="grade" placeholder="Grade"  required style="width: 90%; padding: 10px; border-radius: 8px; border: 1px solid #ddd;">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <button type="submit" style="background: linear-gradient(90deg, #36d1c4 0%, #5b86e5 100%); color: #fff; border: none; border-radius: 25px; padding: 10px 28px; font-weight: bold; cursor: pointer; transition: background 0.2s, transform 0.2s;">Add</button>
        </form>
        <br>
        <a href="/">Home</a>
    </div>
</body>
</html>
